* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 4.6rem;
  text-align: center;
  text-shadow: 4px 2px 3px #493131;
}
h3,
h5 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 2px 5px 2px rgba(0,0,0,0.8);

}
h4{
  font-size: 2.8rem;
}
a {
  color: #fff;
  text-decoration: none;
}
li,
button,
input,
label,
p {
  font-size: 2rem;
}
button{
  padding: 2rem 6rem;
  font-size: 1.8rem;
  background-color: #022831;
  color:#fff;
  border: none;
cursor: pointer;
border-radius: 5rem;
}
button:hover{
  background-color: #0c5363;
}
.fa-telegram{
  color: #0088cc;
}
.fa-instagram{
  color: rgb(255, 0, 98);
}
.fa-youtube{
  color: red;
}

.main-head {
  background-color: #022831;
  color: #fff;
  position: sticky;
  top: 0px;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
}
ul li {
  list-style: none;
}
#logo {
  flex: 1 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}
.hero {
  background:url(../imgs/pexels-quang-nguyen-vinh-2132180.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h3{
  padding: 5rem;
}

.benefits-head{
  background-color: #022831;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.benefits-head h3{
  padding: 1rem;
}
.cards{
  width: 90%;
 margin: auto;
 display: flex;
 min-height: 70vh;
 align-items: center;
 flex-wrap: wrap;
}
.card{
  min-height: 40vh;
  flex: 1 1 25rem;
  margin: 2rem 5rem;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.cards img{
  max-width: 28%;
  margin: 2rem;
}
.card h4, .card p{
padding: 1rem;
}

.card-icon{
  background: #ADD8E6;
}

#contact{
  min-height: 100vh;
  background: url(../imgs/pexels-mihis-alex-21014.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper{
  background-color: rgba(0,0,0,0.2);
  width: 60%;
  color: #fff;
  border-radius: 3px;
}

.form-head{
  text-align: center;
  padding-top: 2rem;
}
.name-form, .email-form{
  padding: 3rem;
  text-align: center;
}
.form-wrapper label{
  margin: 025rem 3rem;
}
.form-wrapper button{
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}
footer{
  background-color: #022831;
}
.footr-wrapper{
  display: flex;
  padding: 2rem;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5{
  flex:1 1 30rem ;
}
footer ul{
  flex: 1 1 30rem;
  display: flex;
  justify-content: space-around;

}




@media screen and (max-width: 940px){
  html {
    font-size: 55%;
  }
  nav{
    text-align: center;
  }
  #Logo{
    padding: 2rem;
  }
  footer h5{
    text-align: center;
    padding-bottom: 2rem;
  }
  footer ul{
    flex-direction: column;
    text-align: center;
  }
  footer ul li{
    padding: 1rem;
  }
  .form-wrapper{
    width: 90%;
  }
}